{% extends "base_login.html" %}

{% block extrahead %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'lager/base.css' %}">
{% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <a class="navbar-brand" href="{% url 'lager:index' %}" >Patient suchen</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
    </ul>
  </div>
</nav>
{% endblock %}


{% block content %}
<content>
    <p></p>
    <p></p>
    <div class="container">
      <div class="form-group row">
          <div class="col-sm-4">&nbsp;</div>
          <div class="col-sm-6"><h4>Ihr Passwort wurde geändert!</h4></div>
          <div class="col-sm-2">&nbsp;</div>
      </div>
    </div>
</content>
{% endblock %}