{% extends "base_login.html" %}

{% block extrahead %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'lager/base.css' %}">
{% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <a class="navbar-brand" href="{% url 'lager:index' %}" >Patient suchen</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<content>
    <p></p>
    <p></p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="container">
          <div class="form-group row">
              <div class="col-sm-3">&nbsp;</div>
              <div class="col-sm-7"><h4>Passwort ändern.</h4></div>
              <div class="col-sm-2">&nbsp;</div>
          </div>
          <div class="form-group row">
              <div class="col-sm-3">&nbsp;</div>
              <div class="col-sm-3"><label for="id_old_password">Altes Passwort:</label></div>
              <div class="col-sm-4">{{ form.old_password }}<br>{{ form.old_password.errors }}</div>
              <div class="col-sm-2">&nbsp;</div>
          </div>
          <div class="form-group row">
              <div class="col-sm-3">&nbsp;</div>
              <div class="col-sm-3"><label for="id_new_password1">Neues Passwort:</label></div>
              <div class="col-sm-4">{{ form.new_password1 }}<br>{{ form.new_password1.errors }}</div>
              <div class="col-sm-2">&nbsp;</div>
          </div>
          <div class="form-group row">
              <div class="col-sm-3">&nbsp;</div>
              <div class="col-sm-3"><label for="id_new_password2">Passwort wiederholen:</label></div>
              <div class="col-sm-4">{{ form.new_password2 }}<br>{{ form.new_password2.errors }}</div>
              <div class="col-sm-2">&nbsp;</div>
          </div>
          <div class="form-group row">
              <div class="col-sm-3">&nbsp;</div>
              <div class="col-sm-7">kein triviales Passwort wie 12345678 verwenden.<br>Passwort mindestens 8 Zeichen lang.<br>
                  Kombination aus Buchstaben, Zahlen und Sonderzeichen verwenden.</div>
              <div class="col-sm-2">&nbsp;</div>
          </div>
          <div class="form-group row">
              <div class="col-sm-2">&nbsp;</div>
              <div class="col-sm-4"></div>
              <div class="col-sm-4"><input type="submit" class="btn btn-primary" value="Passwort ändern" /></div>
              <div class="col-sm-2">&nbsp;</div>
          </div>
        </div>
    </form>
</content>
{% endblock %}