{% extends "base_login.html" %}

{% block extrahead %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'lager/base.css' %}">
{% endblock %}

{% block content %}
<content>
    <p></p>
    <p></p>
    <div class="container">
      <div class="form-group row">
          <div class="col-sm-2">&nbsp</div>
          <div class="col-sm-6"><center>Wir haben Ihnen eine E-Mail mit einer Beschreibung geschickt.<br>
              Sollte die Mail nicht innerhalb weniger Minuten ankommen,<br>bitte den Spam Ordner prüfen.</center>
          </div>
          <div class="col-sm-2">&nbsp;</div>
      </div>
    </div>
</content>
{% endblock %}