{% extends "base_login.html" %}


{% block extrahead %}
    {% load static %}
    {% load crispy_forms_tags %}
    <link rel="stylesheet" href="{% static 'lager/base.css' %}">
{% endblock %}

{% block content %}
<content>
    <p></p>
    <p></p>
    <form action="" method="post">
      {% csrf_token %}
      <div class="container">
          <div class="form-group row">
              <div class="col-sm-4">&nbsp;</div>
              {% if form.email.errors %}
              <div class="col-sm-4">{{ form.email.errors }}</div>
              {% endif %}
              <div class="col-sm-4">&nbsp;</div>
          </div>

          <div class="form-group row">
              <div class="col-sm-2">&nbsp;</div>
              <div class="col-sm-3">&nbsp;</div>
              <div class="col-sm-3">{{ form|crispy }}</div>
              <div class="col-sm-4">&nbsp;</div>
          </div>
          <div class="form-group row">
              <div class="col-sm-2">&nbsp;</div>
              <div class="col-sm-3">&nbsp;</div>
              <div class="col-sm-3"><input type="submit" class="btn btn-secondary" value="Passwort zurücksetzen"></div>
              <div class="col-sm-4">&nbsp;</div>
          </div>
          <br>
          <div class="form-group row">
              <div class="col-sm-2">&nbsp;</div>
              <div class="col-sm-3">&nbsp;</div>
              <div class="col-sm-3"><a href="{% url 'login' %}">Zur Login-Seite</a></div>
              <div class="col-sm-4">&nbsp;</div>
          </div>
          <br>
          <div class="form-group row">
              <div class="col-sm-2">&nbsp;</div>
              <div class="col-sm-3">&nbsp;</div>
              <div class="col-sm-3">*Um ein neues Passwort anzulegen, bitte die E-Mail Adresse eintragen</div>
              <div class="col-sm-4">&nbsp;</div>
          </div>
      </div>
  </form>
</content>
{% endblock %}