       <div class="fixed-bottom mt-auto bg-dark text-white text-center">
            <div class="row" >
                <div class="col-1">&nbsp;</div>
                <div class="col-10 text-body text-center ">
                    <a class="text-white inline" href="{% url 'ligaturnen:impressum'%}">Impressum</a>
                    <div class="text-white inline"> / </div>
                    <a class="text-white inline" href="{% url 'ligaturnen:datenschutz'%}">Datenschutzerklärung</a>
                    <p class="small text-white">Version 1.2</p>
                </div>
                <div class="col-1">&nbsp;</div>
                </div>
            </div>
       </div>