{% extends "base.html" %}

{% block title %}
    Turnfest - Datenschutz
{% endblock %}

{% block content %}
<content>
    <div class="container-fluid">
        <p></p>
        <h1>Datenschutz</h1>
        <div class="row">
            <div class="col-sm">
                <button type="button" class="btn btn-secondary" onclick="history.go(-1)">zurück</button>
                <button type="button" class="btn btn-secondary" onclick="history.go(-1)">zurück</button>
            </div>
        </div>
    </div>
</content>


{% endblock %}
