{% extends "base_ligaturnen.html" %}

{% load crispy_forms_tags %}
{% block title %}
    Turnverein
{% endblock %}

{% block content %}

<div class="container-fluid">
    <p></p>
    <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-4"><h3 class="text-center">Ergebnis erfassen für {{ form.turnerin}}</h3></div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-2"></div>
    </div>
    <p></p>

    <form class="form-inline" action="" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <input type="hidden" name="ergebnis_teilnehmer" value="{{ form.teilnehmer_id }}">
        <div class="row">
            <div class="col-sm-2"></div>
            <label for="{{ form.ergebnis_sprung_a.id_for_label }}" class="col-sm-2 control-label">Sprung A-Note:</label>
            <div class="col-sm-1">
                 {{ form.ergebnis_sprung_a }}
                <div class="text-danger">{{ form.ergebnis_sprung_a.errors }}</div>
            </div>
            <div class="col-sm-5"></div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <label for="{{ form.ergebnis_sprung_b.id_for_label }}" class="col-sm-2 control-label">Sprung B-Note:</label>
            <div class="col-sm-1">
                 {{ form.ergebnis_sprung_b }}
                <div class="text-danger">{{ form.ergebnis_sprung_b.errors }}</div>
            </div>
            <div class="col-sm-1">{{ form.ergebnis_sprung_s }}</div>
            <div class="col-sm-6"></div>
        </div>
        <p></p>
        
        <div class="row">
            <div class="col-sm-2"></div>
            <label for="{{ form.ergebnis_mini_a.id_for_label }}" class="col-sm-2 control-label">Minitrampolin A-Note:</label>
            <div class="col-sm-1">
                 {{ form.ergebnis_mini_a }}
                <div class="text-danger">{{ form.ergebnis_mini_a.errors }}</div>
            </div>
            <div class="col-sm-5"></div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <label for="{{ form.ergebnis_mini_b.id_for_label }}" class="col-sm-2 control-label">Minitrampolin B-Note:</label>
            <div class="col-sm-1">
                 {{ form.ergebnis_mini_b }}
                <div class="text-danger">{{ form.ergebnis_mini_b.errors }}</div>
            </div>
            <div class="col-sm-1">{{ form.ergebnis_mini_s }}</div>
            <div class="col-sm-6"></div>
        </div>
        <p></p>        

        <div class="row">
            <div class="col-sm-2"></div>
            <label for="{{ form.ergebnis_reck_a.id_for_label }}" class="col-sm-2 control-label">Reck/Stufenbarren A-Note:</label>
            <div class="col-sm-1">
                 {{ form.ergebnis_reck_a }}
                <div class="text-danger">{{ form.ergebnis_reck_a.errors }}</div>
            </div>
            <div class="col-sm-5"></div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <label for="{{ form.ergebnis_reck_b.id_for_label }}" class="col-sm-2 control-label">Reck/Stufenbarren B-Note:</label>
            <div class="col-sm-1">
                 {{ form.ergebnis_reck_b }}
                <div class="text-danger">{{ form.ergebnis_reck_b.errors }}</div>
            </div>
            <div class="col-sm-1"> {{ form.ergebnis_reck_s }}</div>
            <div class="col-sm-6"></div>
        </div>
        <p></p>        

        <div class="row">
            <div class="col-sm-2"></div>
            <label for="{{ form.ergebnis_balken_a.id_for_label }}" class="col-sm-2 control-label">Balken A-Note:</label>
            <div class="col-sm-1">
                 {{ form.ergebnis_balken_a }}
                <div class="text-danger">{{ form.ergebnis_balken_a.errors }}</div>
            </div>
            <div class="col-sm-5"></div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <label for="{{ form.ergebnis_balken_b.id_for_label }}" class="col-sm-2 control-label">Balken B-Note:</label>
            <div class="col-sm-1">
                 {{ form.ergebnis_balken_b }}
                <div class="text-danger">{{ form.ergebnis_balken_b.errors }}</div>
            </div>
            <div class="col-sm-1">{{ form.ergebnis_balken_s }}</div>
            <div class="col-sm-6"></div>
        </div>
        <p></p>        

        <div class="row">
            <div class="col-sm-2"></div>
            <label for="{{ form.ergebnis_barren_a.id_for_label }}" class="col-sm-2 control-label">Barren A-Note:</label>
            <div class="col-sm-1">
                 {{ form.ergebnis_barren_a }}
                <div class="text-danger">{{ form.ergebnis_barren_a.errors }}</div>
            </div>
            <div class="col-sm-5"></div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <label for="{{ form.ergebnis_barren_b.id_for_label }}" class="col-sm-2 control-label">Barren B-Note:</label>
            <div class="col-sm-1">
                 {{ form.ergebnis_barren_b }}
                <div class="text-danger">{{ form.ergebnis_barren_b.errors }}</div>
            </div>
            <div class="col-sm-1">{{ form.ergebnis_barren_s }}</div>
            <div class="col-sm-6"></div>
        </div>
        <p></p>        
        
        <div class="row">
            <div class="col-sm-2"></div>
            <label for="{{ form.ergebnis_boden_a.id_for_label }}" class="col-sm-2 control-label">Boden A-Note:</label>
            <div class="col-sm-1">
                 {{ form.ergebnis_boden_a }}
                <div class="text-danger">{{ form.ergebnis_boden_a.errors }}</div>
            </div>
            <div class="col-sm-5"></div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <label for="{{ form.ergebnis_boden_b.id_for_label }}" class="col-sm-2 control-label">Boden B-Note:</label>
            <div class="col-sm-1">
                 {{ form.ergebnis_boden_b }}
                <div class="text-danger">{{ form.ergebnis_boden_b.errors }}</div>
            </div>
            <div class="col-sm-1">{{ form.ergebnis_boden_s }}</div>
            <div class="col-sm-6"></div>
        </div>
        <p></p>        

        <div class="row">
            <div class="col-sm-2"></div>
            <label for="{{ form.ergebnis_summe.id_for_label }}" class="col-sm-2 control-label">Gesamt:</label>
            <div class="col-sm-1">

                <div class="text-danger">{{ form.ergebnis_summe.errors }}</div>
            </div>
            <div class="col-sm-1">{{ form.ergebnis_summe }}</div>
            <div class="col-sm-6">Hinweis: Änderung der Summen erfolgt erst mit dem speichern!!!</div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-5 text-end">
                <button class="btn btn-secondary" type="submit">Ergebnis speichern</button>
            </div>
            <div class="col-sm-5"></div>
        </div>
   </form>
</div>

{% endblock %}