{% extends "base_ligaturnen.html" %}

{% block title %}
    Turnfest
{% endblock %}

{% block content %}

<div class="container-fluid">
    <p></p>

    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 text-center">
            <h2>Alles rund ums Ligaturnfest</h2>

        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 text-center">
            <h3>Teilnehmermeldung (Excel)</h3>
            <p>Bitte diese Datei als Basis für die Teilnehmermeldung verwenden. <br>Bitte die Musterzeile vor dem Versandt löschen.</p>
                <a href="{% url 'ligaturnen:download' %}?file_name=Teilnehmer_Ligaturnen.xlsx">
                        <button type="button" class="btn btn-primary"><i class="fa fa-download"> Öffnen</i></button>
                </a>
        </div>
        <div class="col-3"></div>
    </div>
</div>

{% endblock %}