{% extends "base_ligaturnen.html" %}

{% block title %}
    Turnverein - Teilnehmer
{% endblock %}

{% block content %}

<div class="container-fluid">
    <p></p>
    <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-2">
                <a href="{% url 'ligaturnen:teilnehmer_create' %}" class="btn btn-secondary">Neue Teil. anlegen</a>
            </div>
            <div class="col-sm-4"><h3 class="text-center">Teilnehmerliste</h3></div>
            <div class="col-sm-2">
                <a href="{% url 'ligaturnen:teilnehmer_upload' %}" class="btn btn-secondary">Teilnehmer upload</a>
            </div>
            <div class="col-sm-2"></div>
    </div>
     <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-4"></div>
            <div class="col-sm-2">
                {% if request.session.count_positiv %}
                Neue Datensätze: {{ request.session.count_positiv }} <br>doppelte Datensätze: {{request.session.count_negativ}}
                {% endif %}
            </div>
            <div class="col-sm-2"></div>
    </div>
    <p></p>

    <table class="table table-hover">
    <thead>
      <tr>
          <th class="col-sm-1 text-center">Startnr.</th>
          <th class="col-sm-1 text-center">Liga Tag</th>
          <th class="col-sm-1 text-center">Liga</th>
          <th class="col-sm-1 text-center">Verein</th>
          <th class="col-sm-1 text-center">Mannschaft</th>
          <th class="col-sm-1">Name</th>
          <th class="col-sm-1">Vorname</th>
          <th class="col-sm-1 text-center">Geburtsjahr</th>
          <th class="col-sm-1 text-center">Geschlecht</th>
          <th class="col-sm-1 text-center">Anwesend</th>
          <th class="col-sm-1 text-center">ak</th>
          <th class="col-sm-1 text-center">Bearbeiten</th>
      </tr>
    </thead>
          <tbody>
        {% for teilnehmer in object_list %}
        <tr>
            <td class="text-center">{{ teilnehmer.id }}</td>
            <td class="text-center">{{ teilnehmer.teilnehmer_liga_tag }}</td>
            <td class="text-center">{{ teilnehmer.teilnehmer_liga }}</td>
            <td class="text-center">{{ teilnehmer.teilnehmer_verein }}</td>
            <td class="text-center">{{ teilnehmer.teilnehmer_mannschaft }}</td>
            <td>{{ teilnehmer.teilnehmer_name }}</td>
            <td>{{ teilnehmer.teilnehmer_vorname }}</td>
            <td class="text-center">{{ teilnehmer.teilnehmer_geburtsjahr|date:"Y" }}</td>
            <td class="text-center">{{ teilnehmer.teilnehmer_gender }}</td>
            <td class="text-center">{{ teilnehmer.teilnehmer_anwesend|yesno:"Ja,Nein" }}</td>
            <td class="text-center">{{ teilnehmer.teilnehmer_ak|yesno:"Ja,Nein" }}</td>

              <td class="col-sm-1 text-center">
                  <a href="{% url 'ligaturnen:teilnehmer_edit' teilnehmer.id %}" class="p-1 link-secondary"><i class="fa-sharp fa-solid fa-pen-to-square" title="ändern"></i></a>
                  <a href="{% url 'ligaturnen:teilnehmer_detail' teilnehmer.id %}" class="p-1 link-secondary"><i class="fa-sharp fa-solid fa-eye" title="anzeigen"></i></a>
                  <a href="{% url 'ligaturnen:teilnehmer_delete' teilnehmer.id %}" class="p-1 link-secondary"><i class="fa-sharp fa-solid fa-trash-can" title="löschen"></i></a>
              </td>

        </tr>

        {% empty %}
        <li>Noch keine Teilnehmerinnen angelegt</li>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}