{% extends "base_bezirksturnfest.html" %}

{% load crispy_forms_tags %}
{% block title %}
    Turnfest
{% endblock %}


{% block content %}

<div class="container-fluid">
        <p></p>
    <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-4"><h3 class="text-center">Startnummer suchen:</h3></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
    </div>
    <p></p>

    <form action="{% url 'turnfest:ergebnis_erfassen_suche' %}" method="post">
        {% csrf_token %}

        <div class="row">
            <div class="col-sm-2"></div>
           <div class="col-sm-2">
                <label for="{{ form.startnummer.id_for_label }}" class="control-label">Startnummer:</label>
           </div>
            <div class="col-sm-3">
                    {{ form.startnummer }}
                    {{ form.startnummer.errors }}
            </div>
           <div class="col-sm-3"><button type="submit" class="btn btn-secondary btn-sm">suchen</div>
           <div class="col-sm-2"></div>
        </div>


    </form>
</div>

{% endblock %}