{% extends "base_bezirksturnfest.html" %}

{% load crispy_forms_tags %}
{% block title %}
    Turnverein - Teilnehmer
{% endblock %}

{% block content %}

<div class="container-fluid">
    <p></p>
    <div class="row">
            <div class="col-sm-2">
                <a href="{% url 'turnfest:teilnehmer_list' %}" class="btn btn-secondary">Teilnehmerliste</a>
            </div>
            <div class="col-sm-8"><h3 class="text-center">Upload Teilnehmerliste</h3></div>
            <div class="col-sm-2">

            </div>
    </div>
    <p></p>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Hochladen</button>
</form>

</div>

{% endblock %}