{% extends "base_bezirksturnfest.html" %}

{% block title %}
    Turnverein - Vereine
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-fluid">

   <h3 class="text-center">Vereinsdaten ändern</h3>
    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    {{ form|crispy }}
                </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 text-end">
                <button class="btn btn-secondary" type="submit">Verein ändern</button>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </form>
</div>
</div>
{% endblock %}