{% extends "base.html" %}

{% block title %}
    Turnverein - Wettkampfteilnahme
{% endblock %}

{% block content %}

<div class="container-fluid">
    <p>Detailview der Wettkampfteilnehmer</p>

            <p>{{ wettkampfteilnehmer.wktn_teilnehmer }}</p>
            <p>{{ wettkampfteilnehmer.wktn_bezirksturnfest }}</p>
            <p>{{ wettkampfteilnehmer.wktn_anwesend }}</p>
            <p>{{ wettkampfteilnehmer.wktn_sprung }}</p>
            <p>{{ wettkampfteilnehmer.wktn_mini }}</p>
            <p>{{ wettkampfteilnehmer.wktn_reck }}</p>
            <p>{{ wettkampfteilnehmer.wktn_balken }}</p>
            <p>{{ wettkampfteilnehmer.wktn_barren }}</p>
            <p>{{ wettkampfteilnehmer.wktn_boden }}</p>

</div>
{% endblock %}