<nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
<div class="container">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'turnfest:index'%}">Startseite</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'turnfest:bezirksturnfest'%}">Bezirksturnfest</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'turnfest:teilnehmer_list'%}">Teilnehmer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'turnfest:geraetelisten'%}">Gerätelisten</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'turnfest:ergebnis_erfassen_suche'%}">Ergebnisse erfassen</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Wettkampfende</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'turnfest:auswertung'%}">Auswertung</a></li>
            <li><a class="dropdown-item" href="{% url 'turnfest:urkunden'%}">Urkunden</a></li>
          </ul>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Referenzlisten</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'turnfest:teilnehmer_upload'%}">Teilnehmer upload</a></li>
            <li><a class="dropdown-item" href="{% url 'turnfest:vereine_list'%}">Vereine</a></li>
            <li><a class="dropdown-item" href="{% url 'turnfest:vereine_upload'%}">Vereine upload</a></li>
            <li><a class="dropdown-item" href="{% url 'turnfest:delete_tables'%}">Tabellen löschen</a></li>
          </ul>
      </li>
    </ul>
  </div>
</nav>